---
import Layout from "../../layouts/Layout.astro";
import Document from "../../components/About/Documention/index.astro";
---

<Layout
   title="Welcome to TCET Mumbai"
   description="Thakur College of Engineering and Technology"
>
   <main>
      <Document />
   </main>
</Layout>
