---
import Layout from "../../layouts/Layout.astro"
import Heading from "../../components/About/Homepage/Heading.astro"
import AchievementSwiper from "./AchievementSwiper";
---
<Layout title="Welcome to TCET Mumbai" description='Thakur College of Engineering and Technology' >
    <main class="font-tile border-2 rounded-lg m-4 lg:m-16 p-4 lg:p-16 text-blue-gray-800 text-base md:text-lg md:my-10 md:mx-12 md:p-6">
        <div class="flex flex-col">
            <span class="font-medium text-[#101828] mb-4 md:mb-5.5 text-2xl md:text-3xl">Overview</span>
            <span>Thakur College of Engineering & Technology (TCET), a Graded Autonomous Linguistic Minority Institute, was established in AY 2001-02 with a clear objective of providing Quality Technical Education in tune with international standards and contemporary global requirements. The Institute is recognized by All India Council for Technical Education (AICTE) & Government of Maharashtra and is affiliated to the University of Mumbai (UOM). It has been conferred Autonomous Status by University Grant Commission (UGC) for 10 years w.e.f. A.Y. 2019-20 to A.Y. 2028-29.</span>
        </div> 

        <Heading icon="courses.svg" heading="Courses" />
        <p>
            TCET offers 15 UG (8 in Engineering, 3 in Technology and 4 in Vocational Course), 3 PG and 3 Ph.D. (Tech.) programmes. TCET is ISO 9001:2015 certified Institute. Certification has helped Institute to develop a process driven student centric system required for quality education in 21st century. Institute is accredited by NAAC with “A” grade for five years and 4 engineering programmes (COMP, IT, E&TC and E&CS) are accredited by NBA (Multiple Accreditation cycles) for three years till 2022. The first 3 programmes are also given permanent affiliation w.e.f. A.Y. 2015-16 and the fourth one has been given permanent affiliation w.e.f. A.Y. 2017-18. NBA visit is scheduled in July 2022 for renewal cycle of these four courses. Apart from this 2 other courses Civil and Mechanical have been accredited by NBA w.e.f. A.Y. 2021-2022. TCET has implemented Holistic Multidisciplinary Education which is as per National requirement in building the budding Engineers for Global opportunities.
        </p>
     
        <section class="flex flex-col gap-y-2.5">
            <Heading icon="amenities.svg" heading="Amenities" />
            <div class="flex gap-x-10 gap-y-2 flex-col md:flex-row">
                <img src="/About/Homepage/amenity-1.png">
                <p class="my-auto">
                    TCET is a private self-financed linguistic (Hindi speaking) minority institute since its inception. The imposing seven-storied building, housing state-of-the-art computer laboratories, spacious classrooms, well equipped laboratories, workshops, computer centre with server room, a well-stocked library, wide and well-lit clean corridors and a large canteen, conference hall, seminar halls has set new standards in providing facilities of international level.
                </p>
            </div>
            <div class="flex gap-x-10 gap-y-2 flex-col-reverse md:flex-row">
                <p class="my-auto">
                    To foster a culture of Research & Entrepreneurship, a state-of the art Innovation and Entrepreneurship Development Cell (IEDC) housing 10,000 sq. ft. area, situated near to the college campus, has been functional since 2016. The sprawling college campus with lawns, gardens, playgrounds, parking lot and a temple ensures the right academic ambience essential for a centre of higher education.
                </p>
                <img src="/About/Homepage/amenity-2.png">
            </div>
            <div class="flex w-full gap-x-10 gap-y-2 flex-col md:flex-row">
                <img src="/About/Homepage/amenity-3.png">
                <p class="my-auto">
                    TCET also has a fully functional, Centrally Air Conditioned auditorium with a seating capacity of 583 persons. The auditorium has a state of the art audio-visual system and a multi-functional lighting arrangement. Various technical and cultural programmes, lectures and college annual function are organized in this auditorium.
                </p>
            </div>
        </section>

        <Heading icon="teaching-n-training.svg" heading="Teaching & Training" />
        <p>
            At TCET, the importance of faculty is well understood and is reflected in qualified, experienced and permanent teaching staff in all departments. A closely monitored quality assurance mechanism ensures proper coverage of syllabus within a right time frame. Additional coaching in comparatively difficult topics in various subjects and group mentoring are some of the healthy practices followed at TCET. Students are encouraged to appear in GATE and other competitive examinations and separate coaching is provided for that also. Employability Skill Development and other training programmes prepare the student for professional acceptance in industry with an edge over the others at national and international levels.
        </p>

        <Heading icon="achievements.svg" heading="Achievements" />
        <AchievementSwiper client:load/>

        <Heading icon="years-of-excellence.svg" heading="Years of Excellence" />
        <p>
            Application of modern technology in teaching- learning process and effective day-to-day governance of the college makes TCET unique. Key initiatives like teacher-guardian scheme, book bank scheme, induction of resource books, yearly organization of events (like Multicon-W, Technology Conference, Technical and cultural festivals etc.) make TCET an institute with a difference. Thus, within just 20 years of its existence, TCET has carved out a niche for itself as one of the leading Engineering Colleges under University of Mumbai in Maharashtra.
        </p>

    </main>
</Layout>
