---
import Layout from "../../layouts/Layout.astro";
console.log(Astro.url.pathname);
import {getSubLinksFirstLevel} from "../../data/navlinks"

const subLinks = getSubLinksFirstLevel("About us") || []

---

<Layout sidebar={subLinks} title="Welcome to TCET Mumbai" description='Thakur College of Engineering and Technology'  >
    <main class=" " >
        <div class="h-[200vh]" >
            Hello Everyone this is the testing page for Recognition and Awards
        </div>
    </main>
</Layo>
