---
import Layout from '../../layouts/Layout.astro';
import Recognition from '../../components/About/RecognitionAward/index.astro'

---

<Layout title="Welcome to TCET Mumbai" description='Thakur College of Engineering and Technology' >
	<main>
		<Recognition />
	</main>
</Layout>
