---
import Layout from '../../layouts/Layout.astro';
import Testimonials from '../../components/About/Testimonials/index.astro';
---

<Layout title="Welcome to TCET Mumbai" description='Thakur College of Engineering and Technology' >
  <main class = "p-4 lg:p-16">
   <Testimonials/>
  </main>
</Layout>