---
import MagazineSection from './MagazineSection.jsx';
---

<div class="rounded-md px-4">
  <div class="border rounded-md px-4 xl:px-6">
    <div class=" py-4 font-semibold text-slate-600 xl:text-lg">MAGAZINES</div>
    <MagazineSection client:load/>
  </div>
</div> 