---
import AboutSwiper from "./AboutSwiper"
---

<section id="about" class="grid grid-cols-1 sm:grid-cols-2 gap-16 justify-center border-t-2 pt-5 lg:pt-0">
    <div class="px-5 md:pl-10 flex flex-col justify-center items-start gap-y-2">
        <h1 class="text-gray-900 text-3xl sm:text-4xl font-semibold font-title leading-tight tracking-tight">Thakur College of Engineering of Engineering</h1>    
        <h3 class="text-xl sm:text-2xl leading-normal text-gray-600">20 Glorious years of TCET</h3>
        <p class="hidden md:block text-gray-500 text-justify text-sm lg:text-base">
            Thakur College of Engineering & Technology (TCET), a Graded Autonomous Linguistic Minority Institute, was established in AY 2001-02 with a clear objective of providing Quality Technical Education in tune with international standards and contemporary global requirements. The Institute is recognized by All India Council for Technical Education (AICTE) & Government of Maharashtra and is affiliated to the University of Mumbai (UOM). It has been conferred Autonomous Status by University Grant Commission (UGC) for 10 years w.e.f. A.Y. 2019-20 to A.Y. 2028-29.
        </p>

        <a href="https://tcetmumbai.in/About%20Us.html" class="mt-6 py-1.5 px-3.5 border rounded-lg border-gray-400 text-gray-900 font-medium">
            Know More
        </a>
    </div>
    <div class="px-5 sm:px-0">
        <!-- <img 
            src="HomePage/About/Thakur.png" 
            class="object-cover object-center w-full"
            alt="Thakur College of Engineering and Technology"
        /> -->
        <AboutSwiper client:load />
        <p class="text-justify text-sm text-gray-900 px-2 pt-2">Education is the manifestation of perfection already existing in man.</p>
    </div>
</section>



