---
import PBodies1 from './PBodies.jsx';
---

<div class="rounded-md p-5">
  <div class=" border rounded-md px-5 py-5 mx-auto container">
    <div class=" p-2 flex flex-col text-left w-full"><h1 class="sm:text-2xl text-lg font-medium title-font mb-1 text-[#475467]">PROFESSIONAL / SOCIAL BODIES</h1></div>
    <PBodies1 client:load/>
  </div>
</div> 