---
import Layout from '../../layouts/Layout.astro'
import FirstSection from "../../components/LifeAtTCET/Home/FirstSection.astro";
import SecondSection from "../../components/LifeAtTCET/Home/SecondSection.astro";
import ThirdSection from "../../components/LifeAtTCET/Home/ThirdSection.astro";
---
<Layout title="Life@TCET" description='Life@TCET-Home page'>
    <div class="sm:items-center flex flex-col gap-4 p-4 lg:p-16 rounded-lg">
        <FirstSection />
        <SecondSection />
        <ThirdSection />
    </div>
</Layout>