---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/HomePage/Hero/index.astro';
---

<Layout title="Welcome to TCET Mumbai" description='Thakur College of Engineering and Technology' >
	<>
		<Hero />
	</main>
</Layout>