---
import Layout from '../layouts/Layout.astro';
import Programmes from "../components/HomePage/Programmes/index.astro";
---

<Layout title="Welcome to TCET Mumbai" description='Thakur College of Engineeringa and Technology' >
	<main>
		<Programmes />
	</main>
</Layout>