---
import Layout from '../layouts/Layout.astro';
import Programmes from "../components/HomePage/Programmes/index.astro";
import CertifiedSection from '../components/HomePage/certified-by-section/index.astro';
import MagazineSection from '../components/HomePage/MagazineSection/index.astro';
import Hero from '../components/HomePage/Hero/index.astro';
import About from '../components/HomePage/About/index.astro';
import Counter from "../components/HomePage/Counter.jsx"
import Events from "../components/HomePage/Events.jsx"
import Awards from "../components/HomePage/Awards.jsx"

---

<Layout title="Welcome to TCET Mumbai" description='Thakur College of Engineering and Technology' >
	<main class="flex-1 box-border" >
		<Hero />
		<CertifiedSection/>
		<About />
		<Counter client:only="react"/>
		<Programmes/>

		<div class="hidden sm:grid sm:grid-cols-1 lg:grid-cols-10 gap-6 sm:my-7 py-7 mx-10">         
			<Events client:only="react"/>
			<Awards client:only="react"/>
		</div>
		<MagazineSection />
	</main>
</Layout>
