---
import Layout from '../layouts/Layout.astro';
import PBodies from '../components/HomePage/Professional Bodies/index.astro';
---

<Layout title="Welcome to TCET Mumbai" description='Thakur College of Engineeringa and Technology' >
	<main>
	<PBodies />
	</main>
</Layout>