---
import Layout from "../layouts/Layout.astro";
import CertifiedSection from "../components/Home-page/certified-by-section/index.astro";
---

<Layout
	title="Welcome to TCET Mumbai"
	description="Thakur College of Engineeringa and Technology"
>
	<main>
		<CertifiedSection/>
	</main>
</Layout>
