---
import Layout from '../layouts/Layout.astro';
import MagazineSection from '../components/HomePage/MagazineSection/index.astro';
import About from '../components/HomePage/About/index.astro';
---

<Layout title="Welcome to TCET Mumbai" description='Thakur College of Engineering and Technology' >
	<main>
		<About />
		<MagazineSection />
	</main>
</Layout>