---
import Layout from '../layouts/Layout.astro';
import Programmes from "../components/HomePage/Programmes/index.astro";
import MagazineSection from '../components/HomePage/MagazineSection/index.astro';
---

<Layout title="Welcome to TCET Mumbai" description='Thakur College of Engineering and Technology' >
	<main>
		<Programmes/>
		<MagazineSection />
	</main>
</Layout>