---
import Layout from '../layouts/Layout.astro';
import MagazineSection from '../components/MagazineSection/index.astro';
---

<Layout title="Welcome to TCET Mumbai" description='Thakur College of Engineeringa and Technology' >
	<main>
		<MagazineSection />
	</main>
</Layout>