---
// const allPosts = await Astro.glob('../pages/about/*.astro');
// import "./about/chairman.astro"
---
<!-- 
    <p>This is where I will post about my journey learning Astro.</p>
    {allPosts.map((post) => url={post.url} title={post.frontmatter.title} )}
    </ul> -->

     <!-- <ul>   {allPosts.map((post) => <li><a href={post.url}>link</a></li>)}</ul> -->
  
    <ul><li><a href="/about/chairman">chairman</li></ul>
    <ul><li><a href="/about/CEO">CEO</li></ul>
    <ul><li><a href="/about/principal">principal</li></ul>
    <ul><li><a href="/about/deanacd">deanacd</li></ul>
    <ul><li><a href="/about/deanrnd">deanrnd</li></ul>
        <ul><li><a href="/about/deanssd">deanssd</li></ul>
        <ul><li><a href="/about/vcp">vcp</li></ul>
