---
const allImages = await Astro.glob('../../../../public/LifeAtTCET/Home/FirstCards/*.png');
---
<div class="cards">
    {allImages.map((img) => <img class="images" src={img.default.src} alt=""/>)}
</div>
