---
const firstImages = await Astro.glob('../../../../public/LifeAtTCET/Home/FirstCards/*.png');
const secondImages = await Astro.glob('../../../../public/LifeAtTCET/Home/SecondCards/*.png');
---
<h1 class="font-title  text-4xl font-normal leading-8 tracking-[-0.02em] text-slate-700">Life@TCET</h1>
<div class="flex flex-wrap gap-4">
    {firstImages.map((img) => <img class="border shadow-lg p-3 rounded-md border-solid border-[#E2E2E2]" src={img.default.src} alt=""/>)}
</div>
<div class="flex flex-wrap gap-4">
    {secondImages.map((img) => <img class="float-left border shadow-lg p-3 rounded-md border-solid border-[#E2E2E2]" src={img.default.src} alt=""/>)}
</div>
