---
---
<h2 class="text-2xl font-medium leading-8 tracking-normal">Life @ TCET</h2>
<ul class="pl-6">
    <li style="list-style-type: disc;" class="text-base font-medium leading-6 tracking-normal text-[#757575]">TCET Acheivements:A Mark of Quality Education</li>
    <li style="list-style-type: disc;" class="text-base font-medium leading-6 tracking-normal text-[#757575]">Institute is NAAC accredited with grade “A” in 1 Cycle for 5 years w.e.f. 30/10/2017. Undergraduate Programs of E&TC IT, COMP, and ELEX are accredited by National Board of Accreditation, New Delhi w.e.f. 1.7.2019 for 3 years which is extended upto 30.6.2022 in the current academic year</li>
    <li style="list-style-type: disc;" class="text-base font-medium leading-6 tracking-normal text-[#757575]">Institute is ranked among top 200 colleges in the country where the institute is ranked 193 in NIRF India Ranking 2019 in the Engineering category and 68th & 78th in All India Rank by Outlook survey published in June 2019 & May 2018 respectively</li>
</ul>