---
import TestimonialsCorporate from './TestimonialsCorporate.jsx';
import TestimonialsExperts from './TestimonialsExperts.jsx';
import TestimonialsFaculty from './TestimonialsFaculty.jsx';
---
<div class="text-xl font-title sm:text-2xl md:text-4xl flex flex-col px-6 py-2">Testimonials</div>
  <TestimonialsCorporate client:load/>
  <TestimonialsExperts client:load/>
  <TestimonialsFaculty client:load/>