---
const {icon, heading} = Astro.props
---
<div class="flex mt-6 mb-1 align-middle">
    <img src=`/About/Homepage/${icon}` class="mr-1">
    <p class="font-semibold text-xl md:text-2xl text-[#101828]">{heading}</p>
</div>