---
// import MobileView from "./MobileView/MobileView";
import DesktopView from "./DesktopView/DesktopView";
import AccordianComponent from "./MobileView/components/AccordionComponent";

import {data} from "./data"
---

<!-- Programmes Section goes here -->
<div class="w-[90%] mx-auto">
  <p class="text-3xl font-semibold font-title mb-4">Programmes</p>
  <div class="hidden md:block">
    <DesktopView client:load />
  </div>
  <div class="block md:hidden">
    <AccordianComponent data={data} client:only="react" />
  </div>
</div>
<!-- Programmes Section ends here -->
